deploy/n8n/calendar-sync.workflow.json
{
  "name": "Prefrontal — Calendar Sync (3 ICS feeds: personal + work + Outlook)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] }
      },
      "id": "schedule",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 360]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_PERSONAL_GOOGLE_ICS_URL",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "get-ics-personal",
      "name": "Get Personal ICS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 120],
      "notes": "Google Calendar → Settings → your calendar → 'Secret address in iCal format'. NOTE: Google caches this; new events can lag a few hours."
    },
    {
      "parameters": {
        "jsCode": "// Minimal ICS parser -> Prefrontal commitments, namespaced 'personal:'.\n// NOTE: TZID-only times are treated as UTC. Prefer a UTC/Z feed.\nconst NS = 'personal:';\nconst ME = ['tfleischer@gmail.com', 'tom@vistarmedia.com', 'tom.fleischer@t-mobile.com'];\nconst text = String($input.first().json.data || $input.first().json.body || '');\nconst unfolded = text.replace(/\\r\\n[ \\t]/g, '').replace(/\\n[ \\t]/g, '');\nconst lines = unfolded.split(/\\r?\\n/);\nfunction icsDate(v) {\n  const m = v.match(/(\\d{4})(\\d{2})(\\d{2})(?:T(\\d{2})(\\d{2})(\\d{2})(Z)?)?/);\n  if (!m) return null;\n  const [, Y, Mo, D, h, mi, s, z] = m;\n  if (!h) return `${Y}-${Mo}-${D}`;\n  return `${Y}-${Mo}-${D}T${h}:${mi}:${s}${z ? 'Z' : ''}`;\n}\nconst out = [];\nlet cur = null;\nfor (const line of lines) {\n  if (line === 'BEGIN:VEVENT') cur = {};\n  else if (line === 'END:VEVENT') { if (cur && cur.start_at && !cur.declined) out.push(cur); cur = null; }\n  else if (cur) {\n    const idx = line.indexOf(':');\n    if (idx < 0) continue;\n    const name = line.slice(0, idx).split(';')[0];\n    const val = line.slice(idx + 1);\n    if (name === 'UID') cur.external_id = NS + val;\n    else if (name === 'SUMMARY') cur.title = val;\n    else if (name === 'LOCATION') cur.location = val;\n    else if (name === 'DTSTART') cur.start_at = icsDate(val);\n    else if (name === 'DTEND') cur.end_at = icsDate(val);\n    else if (name === 'ATTENDEE') {\n      const email = val.replace(/^mailto:/i, '').trim().toLowerCase();\n      if (ME.includes(email) && /PARTSTAT=DECLINED/i.test(line.slice(0, idx))) cur.declined = true;\n    }\n  }\n}\nreturn out.map((e) => ({ json: { hard: false, location: null, ...e } }));"
      },
      "id": "parse-ics-personal",
      "name": "Parse Personal ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 120]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_WORK_ICS_FEED_URL",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "get-ics-work",
      "name": "Get Work ICS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 360],
      "notes": "Paste your work calendar's shared/secret iCal feed URL (read-only)."
    },
    {
      "parameters": {
        "jsCode": "// Minimal ICS parser -> Prefrontal commitments, namespaced 'work:'.\nconst NS = 'work:';\nconst ME = ['tfleischer@gmail.com', 'tom@vistarmedia.com', 'tom.fleischer@t-mobile.com'];\nconst text = String($input.first().json.data || $input.first().json.body || '');\nconst unfolded = text.replace(/\\r\\n[ \\t]/g, '').replace(/\\n[ \\t]/g, '');\nconst lines = unfolded.split(/\\r?\\n/);\nfunction icsDate(v) {\n  const m = v.match(/(\\d{4})(\\d{2})(\\d{2})(?:T(\\d{2})(\\d{2})(\\d{2})(Z)?)?/);\n  if (!m) return null;\n  const [, Y, Mo, D, h, mi, s, z] = m;\n  if (!h) return `${Y}-${Mo}-${D}`;\n  return `${Y}-${Mo}-${D}T${h}:${mi}:${s}${z ? 'Z' : ''}`;\n}\nconst out = [];\nlet cur = null;\nfor (const line of lines) {\n  if (line === 'BEGIN:VEVENT') cur = {};\n  else if (line === 'END:VEVENT') { if (cur && cur.start_at && !cur.declined) out.push(cur); cur = null; }\n  else if (cur) {\n    const idx = line.indexOf(':');\n    if (idx < 0) continue;\n    const name = line.slice(0, idx).split(';')[0];\n    const val = line.slice(idx + 1);\n    if (name === 'UID') cur.external_id = NS + val;\n    else if (name === 'SUMMARY') cur.title = val;\n    else if (name === 'LOCATION') cur.location = val;\n    else if (name === 'DTSTART') cur.start_at = icsDate(val);\n    else if (name === 'DTEND') cur.end_at = icsDate(val);\n    else if (name === 'ATTENDEE') {\n      const email = val.replace(/^mailto:/i, '').trim().toLowerCase();\n      if (ME.includes(email) && /PARTSTAT=DECLINED/i.test(line.slice(0, idx))) cur.declined = true;\n    }\n  }\n}\nreturn out.map((e) => ({ json: { hard: false, location: null, ...e } }));"
      },
      "id": "parse-ics-work",
      "name": "Parse Work ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 360]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_OUTLOOK_ICS_FEED_URL",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "get-ics-outlook",
      "name": "Get Outlook ICS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 600],
      "notes": "Outlook/M365 → Settings → Calendar → Shared calendars → Publish a calendar → copy the ICS link."
    },
    {
      "parameters": {
        "jsCode": "// Minimal ICS parser -> Prefrontal commitments, namespaced 'outlook:'.\nconst NS = 'outlook:';\nconst ME = ['tfleischer@gmail.com', 'tom@vistarmedia.com', 'tom.fleischer@t-mobile.com'];\nconst text = String($input.first().json.data || $input.first().json.body || '');\nconst unfolded = text.replace(/\\r\\n[ \\t]/g, '').replace(/\\n[ \\t]/g, '');\nconst lines = unfolded.split(/\\r?\\n/);\nfunction icsDate(v) {\n  const m = v.match(/(\\d{4})(\\d{2})(\\d{2})(?:T(\\d{2})(\\d{2})(\\d{2})(Z)?)?/);\n  if (!m) return null;\n  const [, Y, Mo, D, h, mi, s, z] = m;\n  if (!h) return `${Y}-${Mo}-${D}`;\n  return `${Y}-${Mo}-${D}T${h}:${mi}:${s}${z ? 'Z' : ''}`;\n}\nconst out = [];\nlet cur = null;\nfor (const line of lines) {\n  if (line === 'BEGIN:VEVENT') cur = {};\n  else if (line === 'END:VEVENT') { if (cur && cur.start_at && !cur.declined) out.push(cur); cur = null; }\n  else if (cur) {\n    const idx = line.indexOf(':');\n    if (idx < 0) continue;\n    const name = line.slice(0, idx).split(';')[0];\n    const val = line.slice(idx + 1);\n    if (name === 'UID') cur.external_id = NS + val;\n    else if (name === 'SUMMARY') cur.title = val;\n    else if (name === 'LOCATION') cur.location = val;\n    else if (name === 'DTSTART') cur.start_at = icsDate(val);\n    else if (name === 'DTEND') cur.end_at = icsDate(val);\n    else if (name === 'ATTENDEE') {\n      const email = val.replace(/^mailto:/i, '').trim().toLowerCase();\n      if (ME.includes(email) && /PARTSTAT=DECLINED/i.test(line.slice(0, idx))) cur.declined = true;\n    }\n  }\n}\nreturn out.map((e) => ({ json: { hard: false, location: null, ...e } }));"
      },
      "id": "parse-ics-outlook",
      "name": "Parse Outlook ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 600]
    },
    {
      "parameters": { "mode": "append", "numberInputs": 3 },
      "id": "merge",
      "name": "Merge feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 360]
    },
    {
      "parameters": {
        "jsCode": "// Collect mapped events from every feed, then (a) keep only the near-term\n// window — raw ICS feeds dump full history (years of events) — and (b)\n// guarantee a title, since ICS events without SUMMARY would 422 the whole\n// batch. Window ~36h matches the original OAuth design.\nconst now = Date.now();\nconst FROM = now - 60 * 60 * 1000;\nconst TO = now + 36 * 60 * 60 * 1000;\nconst events = $input.all()\n  .map((i) => i.json)\n  .filter((e) => { const t = Date.parse(e.start_at); return !Number.isNaN(t) && t >= FROM && t <= TO; })\n  .map((e) => ({ ...e, title: (e.title && String(e.title).trim()) || '(busy)' }));\nreturn [{ json: { events } }];"
      },
      "id": "bundle",
      "name": "Bundle events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/webhooks/calendar/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Prefrontal-Token", "value": "REPLACE_WITH_PREFRONTAL_WEBHOOK_SECRET" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ events: $json.events }) }}",
        "options": {}
      },
      "id": "post-sync",
      "name": "POST /webhooks/calendar/sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 360],
      "notes": "127.0.0.1 (NOT localhost): Node resolves localhost to ::1, Prefrontal binds IPv4 only."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "has-conflicts",
              "leftValue": "={{ $json.conflicts }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-conflicts",
      "name": "Double-booked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1380, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushover.net/1/messages.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"token\": \"PUSHOVER_TOKEN\",\n  \"user\": \"PUSHOVER_USER\",\n  \"title\": \"Prefrontal — double-booking\",\n  \"message\": \"⚠️ {{ $json.conflicts }} overlapping commitment(s) on your calendar. Check /commitments/conflicts.\",\n  \"priority\": 1\n}",
        "options": {}
      },
      "id": "pushover-conflict",
      "name": "Double-booking alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 280]
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [[
        { "node": "Get Personal ICS", "type": "main", "index": 0 },
        { "node": "Get Work ICS", "type": "main", "index": 0 },
        { "node": "Get Outlook ICS", "type": "main", "index": 0 }
      ]]
    },
    "Get Personal ICS": {
      "main": [[{ "node": "Parse Personal ICS", "type": "main", "index": 0 }]]
    },
    "Parse Personal ICS": {
      "main": [[{ "node": "Merge feeds", "type": "main", "index": 0 }]]
    },
    "Get Work ICS": {
      "main": [[{ "node": "Parse Work ICS", "type": "main", "index": 0 }]]
    },
    "Parse Work ICS": {
      "main": [[{ "node": "Merge feeds", "type": "main", "index": 1 }]]
    },
    "Get Outlook ICS": {
      "main": [[{ "node": "Parse Outlook ICS", "type": "main", "index": 0 }]]
    },
    "Parse Outlook ICS": {
      "main": [[{ "node": "Merge feeds", "type": "main", "index": 2 }]]
    },
    "Merge feeds": {
      "main": [[{ "node": "Bundle events", "type": "main", "index": 0 }]]
    },
    "Bundle events": {
      "main": [[{ "node": "POST /webhooks/calendar/sync", "type": "main", "index": 0 }]]
    },
    "POST /webhooks/calendar/sync": {
      "main": [[{ "node": "Double-booked?", "type": "main", "index": 0 }]]
    },
    "Double-booked?": {
      "main": [
        [{ "node": "Double-booking alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
