deploy/n8n/calendar-sync.workflow.json
{
  "name": "Prefrontal — Calendar Sync (4 ICS feeds: personal + work + Outlook + family)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] }
      },
      "id": "schedule",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 360]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_PERSONAL_GOOGLE_ICS_URL",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "get-ics-personal",
      "name": "Get Personal ICS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 120],
      "notes": "Google Calendar → Settings → your calendar → 'Secret address in iCal format'. NOTE: Google caches this; new events can lag a few hours."
    },
    {
      "parameters": {
        "jsCode": "// Minimal ICS parser -> Prefrontal commitments, namespaced 'personal:'.\n// Times pass through raw with their TZID; Prefrontal resolves the zone to UTC.\nconst NS = 'personal:';\nconst ME = ['tfleischer@gmail.com', 'tom@vistarmedia.com', 'tom.fleischer@t-mobile.com'];\nconst text = String($input.first().json.data || $input.first().json.body || '');\nconst unfolded = text.replace(/\\r\\n[ \\t]/g, '').replace(/\\n[ \\t]/g, '');\nconst lines = unfolded.split(/\\r?\\n/);\nfunction icsDate(v) {\n  const m = v.match(/(\\d{4})(\\d{2})(\\d{2})(?:T(\\d{2})(\\d{2})(\\d{2})(Z)?)?/);\n  if (!m) return null;\n  const [, Y, Mo, D, h, mi, s, z] = m;\n  if (!h) return `${Y}-${Mo}-${D}`;                 // date-only (all-day)\n  if (z) return `${Y}-${Mo}-${D}T${h}:${mi}:${s}Z`; // explicit UTC\n  return `${Y}-${Mo}-${D}T${h}:${mi}:${s}`;         // naive; zone travels in tzid\n}\nfunction tzOf(params) {\n  // The DTSTART/DTEND TZID param (e.g. 'America/New_York' or Windows 'Eastern\n  // Standard Time'); Prefrontal resolves it to UTC server-side, so no fragile\n  // in-n8n conversion. Absent for UTC/date-only/floating times.\n  const m = params && params.match(/TZID=\"?([^:;\"]+)/);\n  return m ? m[1] : null;\n}\nconst out = [];\nlet cur = null;\nfor (const line of lines) {\n  if (line === 'BEGIN:VEVENT') cur = {};\n  else if (line === 'END:VEVENT') { if (cur && cur.start_at && !cur.declined) out.push(cur); cur = null; }\n  else if (cur) {\n    const idx = line.indexOf(':');\n    if (idx < 0) continue;\n    const name = line.slice(0, idx).split(';')[0];\n    const val = line.slice(idx + 1);\n    if (name === 'UID') cur.external_id = NS + val;\n    else if (name === 'SUMMARY') cur.title = val;\n    else if (name === 'LOCATION') cur.location = val;\n    else if (name === 'URL') cur.url = val;\n    else if (name === 'RRULE') cur.rrule = val;\n    else if (name === 'EXDATE') { val.split(',').forEach((v) => (cur.exdate = cur.exdate || []).push(icsDate(v))); }\n    else if (name === 'RECURRENCE-ID') cur.recurrence_id = icsDate(val);\n    else if (name === 'DTSTART') { cur.start_at = icsDate(val); cur.tzid = tzOf(line.slice(0, idx)); }\n    else if (name === 'DTEND') { cur.end_at = icsDate(val); cur.end_tzid = tzOf(line.slice(0, idx)); }\n    else if (name === 'ATTENDEE') {\n      const email = val.replace(/^mailto:/i, '').trim().toLowerCase();\n      if (ME.includes(email) && /PARTSTAT=DECLINED/i.test(line.slice(0, idx))) cur.declined = true;\n    }\n  }\n}\nreturn out.map((e) => ({ json: { hard: false, location: null, ...e } }));"
      },
      "id": "parse-ics-personal",
      "name": "Parse Personal ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 120]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_WORK_ICS_FEED_URL",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "get-ics-work",
      "name": "Get Work ICS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 360],
      "notes": "Paste your work calendar's shared/secret iCal feed URL (read-only)."
    },
    {
      "parameters": {
        "jsCode": "// Minimal ICS parser -> Prefrontal commitments, namespaced 'work:'.\nconst NS = 'work:';\nconst ME = ['tfleischer@gmail.com', 'tom@vistarmedia.com', 'tom.fleischer@t-mobile.com'];\nconst text = String($input.first().json.data || $input.first().json.body || '');\nconst unfolded = text.replace(/\\r\\n[ \\t]/g, '').replace(/\\n[ \\t]/g, '');\nconst lines = unfolded.split(/\\r?\\n/);\nfunction icsDate(v) {\n  const m = v.match(/(\\d{4})(\\d{2})(\\d{2})(?:T(\\d{2})(\\d{2})(\\d{2})(Z)?)?/);\n  if (!m) return null;\n  const [, Y, Mo, D, h, mi, s, z] = m;\n  if (!h) return `${Y}-${Mo}-${D}`;                 // date-only (all-day)\n  if (z) return `${Y}-${Mo}-${D}T${h}:${mi}:${s}Z`; // explicit UTC\n  return `${Y}-${Mo}-${D}T${h}:${mi}:${s}`;         // naive; zone travels in tzid\n}\nfunction tzOf(params) {\n  // The DTSTART/DTEND TZID param (e.g. 'America/New_York' or Windows 'Eastern\n  // Standard Time'); Prefrontal resolves it to UTC server-side, so no fragile\n  // in-n8n conversion. Absent for UTC/date-only/floating times.\n  const m = params && params.match(/TZID=\"?([^:;\"]+)/);\n  return m ? m[1] : null;\n}\nconst out = [];\nlet cur = null;\nfor (const line of lines) {\n  if (line === 'BEGIN:VEVENT') cur = {};\n  else if (line === 'END:VEVENT') { if (cur && cur.start_at && !cur.declined) out.push(cur); cur = null; }\n  else if (cur) {\n    const idx = line.indexOf(':');\n    if (idx < 0) continue;\n    const name = line.slice(0, idx).split(';')[0];\n    const val = line.slice(idx + 1);\n    if (name === 'UID') cur.external_id = NS + val;\n    else if (name === 'SUMMARY') cur.title = val;\n    else if (name === 'LOCATION') cur.location = val;\n    else if (name === 'URL') cur.url = val;\n    else if (name === 'RRULE') cur.rrule = val;\n    else if (name === 'EXDATE') { val.split(',').forEach((v) => (cur.exdate = cur.exdate || []).push(icsDate(v))); }\n    else if (name === 'RECURRENCE-ID') cur.recurrence_id = icsDate(val);\n    else if (name === 'DTSTART') { cur.start_at = icsDate(val); cur.tzid = tzOf(line.slice(0, idx)); }\n    else if (name === 'DTEND') { cur.end_at = icsDate(val); cur.end_tzid = tzOf(line.slice(0, idx)); }\n    else if (name === 'ATTENDEE') {\n      const email = val.replace(/^mailto:/i, '').trim().toLowerCase();\n      if (ME.includes(email) && /PARTSTAT=DECLINED/i.test(line.slice(0, idx))) cur.declined = true;\n    }\n  }\n}\nreturn out.map((e) => ({ json: { hard: false, location: null, ...e } }));"
      },
      "id": "parse-ics-work",
      "name": "Parse Work ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 360]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_OUTLOOK_ICS_FEED_URL",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "get-ics-outlook",
      "name": "Get Outlook ICS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 600],
      "notes": "Outlook/M365 → Settings → Calendar → Shared calendars → Publish a calendar → copy the ICS link."
    },
    {
      "parameters": {
        "jsCode": "// Minimal ICS parser -> Prefrontal commitments, namespaced 'outlook:'.\nconst NS = 'outlook:';\nconst ME = ['tfleischer@gmail.com', 'tom@vistarmedia.com', 'tom.fleischer@t-mobile.com'];\nconst text = String($input.first().json.data || $input.first().json.body || '');\nconst unfolded = text.replace(/\\r\\n[ \\t]/g, '').replace(/\\n[ \\t]/g, '');\nconst lines = unfolded.split(/\\r?\\n/);\nfunction icsDate(v) {\n  const m = v.match(/(\\d{4})(\\d{2})(\\d{2})(?:T(\\d{2})(\\d{2})(\\d{2})(Z)?)?/);\n  if (!m) return null;\n  const [, Y, Mo, D, h, mi, s, z] = m;\n  if (!h) return `${Y}-${Mo}-${D}`;                 // date-only (all-day)\n  if (z) return `${Y}-${Mo}-${D}T${h}:${mi}:${s}Z`; // explicit UTC\n  return `${Y}-${Mo}-${D}T${h}:${mi}:${s}`;         // naive; zone travels in tzid\n}\nfunction tzOf(params) {\n  // The DTSTART/DTEND TZID param (e.g. 'America/New_York' or Windows 'Eastern\n  // Standard Time'); Prefrontal resolves it to UTC server-side, so no fragile\n  // in-n8n conversion. Absent for UTC/date-only/floating times.\n  const m = params && params.match(/TZID=\"?([^:;\"]+)/);\n  return m ? m[1] : null;\n}\nconst out = [];\nlet cur = null;\nfor (const line of lines) {\n  if (line === 'BEGIN:VEVENT') cur = {};\n  else if (line === 'END:VEVENT') { if (cur && cur.start_at && !cur.declined) out.push(cur); cur = null; }\n  else if (cur) {\n    const idx = line.indexOf(':');\n    if (idx < 0) continue;\n    const name = line.slice(0, idx).split(';')[0];\n    const val = line.slice(idx + 1);\n    if (name === 'UID') cur.external_id = NS + val;\n    else if (name === 'SUMMARY') cur.title = val;\n    else if (name === 'LOCATION') cur.location = val;\n    else if (name === 'URL') cur.url = val;\n    else if (name === 'RRULE') cur.rrule = val;\n    else if (name === 'EXDATE') { val.split(',').forEach((v) => (cur.exdate = cur.exdate || []).push(icsDate(v))); }\n    else if (name === 'RECURRENCE-ID') cur.recurrence_id = icsDate(val);\n    else if (name === 'DTSTART') { cur.start_at = icsDate(val); cur.tzid = tzOf(line.slice(0, idx)); }\n    else if (name === 'DTEND') { cur.end_at = icsDate(val); cur.end_tzid = tzOf(line.slice(0, idx)); }\n    else if (name === 'ATTENDEE') {\n      const email = val.replace(/^mailto:/i, '').trim().toLowerCase();\n      if (ME.includes(email) && /PARTSTAT=DECLINED/i.test(line.slice(0, idx))) cur.declined = true;\n    }\n  }\n}\nreturn out.map((e) => ({ json: { hard: false, location: null, ...e } }));"
      },
      "id": "parse-ics-outlook",
      "name": "Parse Outlook ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 600]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_FAMILY_GOOGLE_ICS_URL",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "get-ics-family",
      "name": "Get Family ICS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 840],
      "notes": "Google Calendar → Settings → the family/shared calendar → 'Secret address in iCal format'. NOTE: Google caches this; new events can lag a few hours."
    },
    {
      "parameters": {
        "jsCode": "// Minimal ICS parser -> Prefrontal commitments, namespaced 'family:'.\n// Times pass through raw with their TZID; Prefrontal resolves the zone to UTC.\nconst NS = 'family:';\nconst ME = ['tfleischer@gmail.com', 'tom@vistarmedia.com', 'tom.fleischer@t-mobile.com'];\nconst text = String($input.first().json.data || $input.first().json.body || '');\nconst unfolded = text.replace(/\\r\\n[ \\t]/g, '').replace(/\\n[ \\t]/g, '');\nconst lines = unfolded.split(/\\r?\\n/);\nfunction icsDate(v) {\n  const m = v.match(/(\\d{4})(\\d{2})(\\d{2})(?:T(\\d{2})(\\d{2})(\\d{2})(Z)?)?/);\n  if (!m) return null;\n  const [, Y, Mo, D, h, mi, s, z] = m;\n  if (!h) return `${Y}-${Mo}-${D}`;                 // date-only (all-day)\n  if (z) return `${Y}-${Mo}-${D}T${h}:${mi}:${s}Z`; // explicit UTC\n  return `${Y}-${Mo}-${D}T${h}:${mi}:${s}`;         // naive; zone travels in tzid\n}\nfunction tzOf(params) {\n  // The DTSTART/DTEND TZID param (e.g. 'America/New_York' or Windows 'Eastern\n  // Standard Time'); Prefrontal resolves it to UTC server-side, so no fragile\n  // in-n8n conversion. Absent for UTC/date-only/floating times.\n  const m = params && params.match(/TZID=\"?([^:;\"]+)/);\n  return m ? m[1] : null;\n}\nconst out = [];\nlet cur = null;\nfor (const line of lines) {\n  if (line === 'BEGIN:VEVENT') cur = {};\n  else if (line === 'END:VEVENT') { if (cur && cur.start_at && !cur.declined) out.push(cur); cur = null; }\n  else if (cur) {\n    const idx = line.indexOf(':');\n    if (idx < 0) continue;\n    const name = line.slice(0, idx).split(';')[0];\n    const val = line.slice(idx + 1);\n    if (name === 'UID') cur.external_id = NS + val;\n    else if (name === 'SUMMARY') cur.title = val;\n    else if (name === 'LOCATION') cur.location = val;\n    else if (name === 'URL') cur.url = val;\n    else if (name === 'RRULE') cur.rrule = val;\n    else if (name === 'EXDATE') { val.split(',').forEach((v) => (cur.exdate = cur.exdate || []).push(icsDate(v))); }\n    else if (name === 'RECURRENCE-ID') cur.recurrence_id = icsDate(val);\n    else if (name === 'DTSTART') { cur.start_at = icsDate(val); cur.tzid = tzOf(line.slice(0, idx)); }\n    else if (name === 'DTEND') { cur.end_at = icsDate(val); cur.end_tzid = tzOf(line.slice(0, idx)); }\n    else if (name === 'ATTENDEE') {\n      const email = val.replace(/^mailto:/i, '').trim().toLowerCase();\n      if (ME.includes(email) && /PARTSTAT=DECLINED/i.test(line.slice(0, idx))) cur.declined = true;\n    }\n  }\n}\nreturn out.map((e) => ({ json: { hard: false, location: null, ...e } }));"
      },
      "id": "parse-ics-family",
      "name": "Parse Family ICS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 840]
    },
    {
      "parameters": { "mode": "append", "numberInputs": 4 },
      "id": "merge",
      "name": "Merge feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 360]
    },
    {
      "parameters": {
        "jsCode": "// Collect mapped events from every feed, then: (a) keep near-term one-off\n// events (raw ICS feeds dump full history) but ALWAYS pass recurring masters\n// through — Prefrontal expands them into concrete occurrences, so a weekly\n// event whose master is dated months ago still surfaces today; (b) guarantee a\n// title, since ICS events without SUMMARY would 422 the whole batch; (c) DEDUPE\n// across feeds — the same event often appears on more than one calendar\n// (personal mirrors work/Outlook invites). The dedupe key keeps a series master\n// and its modified occurrences distinct while still collapsing the same item\n// mirrored on two feeds. First feed wins (order: personal, work, outlook, family);\n// the dropped namespace's stale row is pruned on the next sync.\nconst now = Date.now();\nconst FROM = now - 60 * 60 * 1000;\nconst TO = now + 36 * 60 * 60 * 1000;\nconst seen = new Set();\nconst events = [];\nfor (const item of $input.all()) {\n  const e = item.json;\n  const recurring = !!e.rrule;\n  if (recurring) {\n    // Drop series that already ended, so dead masters don't pile up in the batch.\n    const m = /UNTIL=(\\d{4})(\\d{2})(\\d{2})/.exec(e.rrule);\n    if (m) { const until = Date.parse(`${m[1]}-${m[2]}-${m[3]}T23:59:59Z`); if (until < FROM) continue; }\n  } else {\n    // One-off (or an already-concrete modified occurrence): window-filter it.\n    const t = Date.parse(e.start_at);\n    if (Number.isNaN(t) || t < FROM || t > TO) continue;\n  }\n  const uid = String(e.external_id || '').replace(/^[^:]+:/, '');\n  const key = uid ? uid + '|' + (e.recurrence_id || (recurring ? 'MASTER' : '')) : '';\n  if (key) { if (seen.has(key)) continue; seen.add(key); }\n  events.push({ ...e, title: (e.title && String(e.title).trim()) || '(busy)' });\n}\nreturn [{ json: { events } }];"
      },
      "id": "bundle",
      "name": "Bundle events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PREFRONTAL_BASE_URL }}/webhooks/calendar/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ events: $json.events }) }}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "prefrontal-token", "name": "Prefrontal Token" } },
      "id": "post-sync",
      "name": "POST /webhooks/calendar/sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 360],
      "notes": "127.0.0.1 (NOT localhost): Node resolves localhost to ::1, Prefrontal binds IPv4 only."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "new-conflict",
              "leftValue": "={{ $json.new_conflict }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-conflicts",
      "name": "Double-booked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1380, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NTFY_SERVER }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"{{ $env.NTFY_TOPIC }}\",\n  \"title\": \"Prefrontal — double-booking\",\n  \"message\": \"⚠️ {{ $json.conflicts }} overlapping commitment(s) on your calendar. Check /commitments/conflicts.\",\n  \"priority\": 4\n}",
        "options": {}
      },
      "id": "ntfy-conflict",
      "name": "Double-booking alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "new-possible-conflict",
              "leftValue": "={{ $json.new_possible_conflict }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-possible",
      "name": "Possible conflict?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1380, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NTFY_SERVER }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"{{ $env.NTFY_TOPIC }}\",\n  \"title\": \"Prefrontal — possible conflict\",\n  \"message\": \"🟡 {{ $json.possible_conflicts }} possible conflict(s): a hold (Busy/Block) overlaps a real event. Review or dismiss at /dashboard.\",\n  \"priority\": 3\n}",
        "options": {}
      },
      "id": "ntfy-possible",
      "name": "Possible-conflict alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 540]
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [[
        { "node": "Get Personal ICS", "type": "main", "index": 0 },
        { "node": "Get Work ICS", "type": "main", "index": 0 },
        { "node": "Get Outlook ICS", "type": "main", "index": 0 },
        { "node": "Get Family ICS", "type": "main", "index": 0 }
      ]]
    },
    "Get Personal ICS": {
      "main": [[{ "node": "Parse Personal ICS", "type": "main", "index": 0 }]]
    },
    "Parse Personal ICS": {
      "main": [[{ "node": "Merge feeds", "type": "main", "index": 0 }]]
    },
    "Get Work ICS": {
      "main": [[{ "node": "Parse Work ICS", "type": "main", "index": 0 }]]
    },
    "Parse Work ICS": {
      "main": [[{ "node": "Merge feeds", "type": "main", "index": 1 }]]
    },
    "Get Outlook ICS": {
      "main": [[{ "node": "Parse Outlook ICS", "type": "main", "index": 0 }]]
    },
    "Parse Outlook ICS": {
      "main": [[{ "node": "Merge feeds", "type": "main", "index": 2 }]]
    },
    "Get Family ICS": {
      "main": [[{ "node": "Parse Family ICS", "type": "main", "index": 0 }]]
    },
    "Parse Family ICS": {
      "main": [[{ "node": "Merge feeds", "type": "main", "index": 3 }]]
    },
    "Merge feeds": {
      "main": [[{ "node": "Bundle events", "type": "main", "index": 0 }]]
    },
    "Bundle events": {
      "main": [[{ "node": "POST /webhooks/calendar/sync", "type": "main", "index": 0 }]]
    },
    "POST /webhooks/calendar/sync": {
      "main": [[
        { "node": "Double-booked?", "type": "main", "index": 0 },
        { "node": "Possible conflict?", "type": "main", "index": 0 }
      ]]
    },
    "Double-booked?": {
      "main": [
        [{ "node": "Double-booking alert", "type": "main", "index": 0 }],
        []
      ]
    },
    "Possible conflict?": {
      "main": [
        [{ "node": "Possible-conflict alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
