deploy/n8n/departure-reminder.workflow.json
{
  "name": "Prefrontal — Departure Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 5 }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PREFRONTAL_BASE_URL }}/webhooks/departure/check",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_lat\": null,\n  \"current_lon\": null\n}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "prefrontal-token", "name": "Prefrontal Token" } },
      "id": "check-departures",
      "name": "Check Departures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Continue only when a departure reminder is actually due. The server\n// dedupes by (commitment, level), so `fire` is true at most once per\n// transition — no IF/state needed here. Emits one item carrying the ready\n// message plus the structured reminder fields, or nothing.\nconst resp = $input.first().json;\nif (!resp || resp.fire !== true) return [];\nreturn [{ json: { ...resp.reminder, message: resp.message } }];"
      },
      "id": "due-only",
      "name": "Due Reminder Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NTFY_SERVER }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"{{ $env.NTFY_TOPIC }}\",\n  \"title\": \"Prefrontal — time to leave\",\n  \"message\": \"{{ $json.message }}\",\n  \"priority\": {{ $json.level === 'go' ? 4 : 3 }},\n  \"actions\": {{ JSON.stringify($json.actions || []) }}\n}",
        "options": {}
      },
      "id": "publish-ntfy",
      "name": "Publish to ntfy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PREFRONTAL_BASE_URL }}/webhooks/n8n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"reminder.sent\",\n  \"episode_type\": \"departure\",\n  \"channel\": \"notification\",\n  \"context\": \"{{ $json.title }} ({{ $json.level }})\"\n}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "prefrontal-token", "name": "Prefrontal Token" } },
      "id": "log-back",
      "name": "Log to Prefrontal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Every 5 min": {
      "main": [[{ "node": "Check Departures", "type": "main", "index": 0 }]]
    },
    "Check Departures": {
      "main": [[{ "node": "Due Reminder Only", "type": "main", "index": 0 }]]
    },
    "Due Reminder Only": {
      "main": [[{ "node": "Publish to ntfy", "type": "main", "index": 0 }]]
    },
    "Publish to ntfy": {
      "main": [[{ "node": "Log to Prefrontal", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
