deploy/n8n/departure-reminder.workflow.json
{
  "name": "Prefrontal — Departure Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 5 }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/webhooks/departure/check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Prefrontal-Token", "value": "REPLACE_WITH_PREFRONTAL_WEBHOOK_SECRET" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_lat\": null,\n  \"current_lon\": null\n}",
        "options": {}
      },
      "id": "check-departures",
      "name": "Check Departures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Continue only when a departure reminder is actually due. The server\n// dedupes by (commitment, level), so `fire` is true at most once per\n// transition — no IF/state needed here. Emits one item carrying the ready\n// message plus the structured reminder fields, or nothing.\nconst resp = $input.first().json;\nif (!resp || resp.fire !== true) return [];\nreturn [{ json: { ...resp.reminder, message: resp.message } }];"
      },
      "id": "due-only",
      "name": "Due Reminder Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushover.net/1/messages.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"token\": \"PUSHOVER_TOKEN\",\n  \"user\": \"PUSHOVER_USER\",\n  \"title\": \"Prefrontal — time to leave\",\n  \"message\": \"{{ $json.message }}\",\n  \"priority\": {{ $json.level === 'go' ? 1 : 0 }},\n  \"url\": \"{{ $json.dismiss_url }}\",\n  \"url_title\": \"Dismiss reminder\"\n}",
        "options": {}
      },
      "id": "pushover",
      "name": "Send Pushover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Prefrontal-Token", "value": "REPLACE_WITH_PREFRONTAL_WEBHOOK_SECRET" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"reminder.sent\",\n  \"episode_type\": \"departure\",\n  \"channel\": \"notification\",\n  \"context\": \"{{ $json.title }} ({{ $json.level }})\"\n}",
        "options": {}
      },
      "id": "log-back",
      "name": "Log to Prefrontal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Every 5 min": {
      "main": [[{ "node": "Check Departures", "type": "main", "index": 0 }]]
    },
    "Check Departures": {
      "main": [[{ "node": "Due Reminder Only", "type": "main", "index": 0 }]]
    },
    "Due Reminder Only": {
      "main": [[{ "node": "Send Pushover", "type": "main", "index": 0 }]]
    },
    "Send Pushover": {
      "main": [[{ "node": "Log to Prefrontal", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
