deploy/n8n/hyperfocus-check.workflow.json
{
  "name": "Prefrontal — Hyperfocus Check (Focus Sessions)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 1 }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/webhooks/focus/check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Prefrontal-Token", "value": "REPLACE_WITH_PREFRONTAL_WEBHOOK_SECRET" }
          ]
        },
        "sendBody": false,
        "options": {}
      },
      "id": "check-focus",
      "name": "Check Focus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Flatten the focus-check response into one item per *due* interrupt.\n// /webhooks/focus/check returns { active: [...], protect: bool }; each active\n// session sets fire=true only when a new interrupt level (check/break) is\n// crossed since the last poll, so we never re-alert the same level.\nconst resp = $input.first().json;\nconst due = (resp.active || []).filter((s) => s.fire === true);\nreturn due.map((s) => ({ json: s }));"
      },
      "id": "flatten-due",
      "name": "Due Interrupts Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"prefrontal-me\",\n  \"title\": \"Prefrontal — Focus\",\n  \"message\": \"{{ $json.message }}\",\n  \"priority\": {{ $json.level === 'break' ? 4 : 3 }},\n  \"actions\": {{ JSON.stringify($json.actions || []) }}\n}",
        "options": {}
      },
      "id": "publish-ntfy",
      "name": "ntfy Push (check / break)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    }
  ],
  "connections": {
    "Every minute": {
      "main": [[{ "node": "Check Focus", "type": "main", "index": 0 }]]
    },
    "Check Focus": {
      "main": [[{ "node": "Due Interrupts Only", "type": "main", "index": 0 }]]
    },
    "Due Interrupts Only": {
      "main": [[{ "node": "ntfy Push (check / break)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
