deploy/n8n/interactive-nudge-ntfy.workflow.json
{
  "name": "Prefrontal — Interactive Nudge (ntfy action buttons)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "minutes", "minutesInterval": 1 } ] }
      },
      "id": "schedule-trigger",
      "name": "Every 1 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PREFRONTAL_BASE_URL }}/webhooks/outing/check",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_lat\": null,\n  \"current_lon\": null\n}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "prefrontal-token", "name": "Prefrontal Token" } },
      "id": "check-outings",
      "name": "Check Outings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Emit one item per outing whose escalation just crossed a new level. Each\n// carries the ready message plus the signed one-tap `actions` the endpoint\n// built (I'm back / Abandon) — ntfy renders them as background action buttons,\n// so a tap fires GET /nudge/act with no app switch. Empty `actions` (feature\n// unconfigured) simply yields a plain notification.\nconst active = ($input.first().json.active) || [];\nreturn active.filter(o => o.fire === true).map(o => ({ json: {\n  title: 'Prefrontal — still out?',\n  message: o.message,\n  actions: o.actions || [],\n} }));"
      },
      "id": "due-only",
      "name": "Firing Nudges Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NTFY_SERVER }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer NTFY_TOKEN_OPTIONAL" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"{{ $env.NTFY_TOPIC }}\",\n  \"icon\": \"{{ $env.NTFY_ICON || 'https://raw.githubusercontent.com/jawsthegame/prefrontal/main/docs/brand/png/prefrontal-app-icon-256.png' }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"message\": \"{{ $json.message }}\",\n  \"actions\": {{ JSON.stringify($json.actions) }}\n}",
        "options": {}
      },
      "id": "publish-ntfy",
      "name": "Publish to ntfy (with buttons)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    }
  ],
  "connections": {
    "Every 1 min": { "main": [[{ "node": "Check Outings", "type": "main", "index": 0 }]] },
    "Check Outings": { "main": [[{ "node": "Firing Nudges Only", "type": "main", "index": 0 }]] },
    "Firing Nudges Only": { "main": [[{ "node": "Publish to ntfy (with buttons)", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
