deploy/n8n/panic-check.workflow.json
{
  "name": "Prefrontal — Panic Check (proactive overwhelm nudge)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 20 }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 20 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PREFRONTAL_BASE_URL }}/webhooks/panic/check",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "prefrontal-token", "name": "Prefrontal Token" } },
      "id": "check-panic",
      "name": "Check Overwhelm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Continue only when the plate has actually tipped into overwhelm. The server\n// edge-triggers on the level and honors a cooldown, so `fire` is true at most\n// once per spike (not every poll) — no IF/state needed here. Emit one item\n// carrying the ready push message (first step is already inline) plus the\n// `actions` — a signed-free ntfy `view` button that opens the full /panic\n// triage — and the counts, or nothing. Empty `actions` (no public origin) just\n// yields a plain notification.\nconst resp = $input.first().json;\nif (!resp || resp.fire !== true) return [];\nreturn [{ json: { message: resp.message, first_step: resp.first_step, level: resp.level, actions: resp.actions || [], late: (resp.counts || {}).late, pressing: (resp.counts || {}).pressing } }];"
      },
      "id": "fire-only",
      "name": "Overwhelm Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NTFY_SERVER }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer NTFY_TOKEN_OPTIONAL" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"{{ $env.NTFY_TOPIC }}\",\n  \"icon\": \"{{ $env.NTFY_ICON || 'https://raw.githubusercontent.com/jawsthegame/prefrontal/main/docs/brand/png/prefrontal-app-icon-256.png' }}\",\n  \"title\": \"Prefrontal — take a breath\",\n  \"message\": \"{{ $json.message }}\",\n  \"priority\": 4,\n  \"actions\": {{ JSON.stringify($json.actions) }}\n}",
        "options": {}
      },
      "id": "publish-ntfy",
      "name": "Publish to ntfy (with triage button)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PREFRONTAL_BASE_URL }}/webhooks/n8n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"reminder.sent\",\n  \"episode_type\": \"panic\",\n  \"channel\": \"notification\",\n  \"context\": \"proactive overwhelm nudge ({{ $json.late }} late, {{ $json.pressing }} pressing)\"\n}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "prefrontal-token", "name": "Prefrontal Token" } },
      "id": "log-back",
      "name": "Log to Prefrontal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Every 20 min": {
      "main": [[{ "node": "Check Overwhelm", "type": "main", "index": 0 }]]
    },
    "Check Overwhelm": {
      "main": [[{ "node": "Overwhelm Only", "type": "main", "index": 0 }]]
    },
    "Overwhelm Only": {
      "main": [[{ "node": "Publish to ntfy (with triage button)", "type": "main", "index": 0 }]]
    },
    "Publish to ntfy (with triage button)": {
      "main": [[{ "node": "Log to Prefrontal", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
